*{
    margin: 0;
    padding: 0;
}

html{
    font: 1em  'Kreon', serif;
    color: #343434;

};

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Serif', serif;

}
a {
    text-decoration: none;
    color: rgb(44, 141, 63);
}

 ul,li{
     list-style: none;
 }

 h1{
     padding: 15px;
 }
 button{
    padding: 10px; 
    border: #ddd solid 1px;
    margin: 5px; 
    cursor: pointer;
    &:disabled{
        background-color: #000;
    }
}

.repo{
    background-color: #f6faf9;
    padding: 15px;
    border-bottom: 1px solid rgb(194, 190, 190);
    display: flex;
    &:nth-child(odd){
        background-color: #ecf7f5;
    }
    &:last-child{
        margin-bottom: 161px;
    }
    img{
       flex: 3;
       max-width: 150px;
       max-height: 150px;
       margin-right: 10px,;
    }
    div{
        flex: 9;
        p{
            color: #555;
        }
    }
}

.active {
    background:#e89;
}
.details{
    position: fixed;
    bottom: 0px;
    background: #fff;
    width: 90%;
    padding:2% 5%;
    font-size: 1.2rem;
    h2 {
        color: #3aa136;
    }
    ul{
        color:#555,
    }
    .links{
        button{
            float: right;
            margin-right: 50px;
            margin-top: -100px,;
        }
    }
}

