<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Github Javascript User List  </title>
    <link href="https://fonts.googleapis.com/css?family=Kreon:400,700|Noto+Serif&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="app">
            <h1>GitHub users who use JavaScript in their public repositories</h1>
            <div v-if="loading">
            <img src="loader.gif"/>
            Loading.....
            </div>

            <div class="pages">
                <button @click="previousPage"
                :disabled = "!pageNo"
                >Previous 30</button>
                <button @click = "nextPage">Next 30</button>
            </div>
    <div id="repos">
    <div class="repo" v-for = "(repo,index) in jsonData"
    @click = updateDetails(index);
    >
        <img :src=repo.owner.avatar_url alt="avartar">
        <div>
        <h2> {{repo.name}}</h2>
        <p> {{repo.description}} </p>
        <a :href="repo.homepage">{{repo.homepage}}</a>
    </div>
    </div>
    
    </div>
    <div class="details">
            <h2>Repo details</h2>
            <ul>
                <li>Full Name  :  <span>{{fullName}}</span></li>
                <li>Owner :  <span>{{ownerName}}</span></li>
                <li>Watchers  : <span>{{watchers}}</span></li>
            </ul>
            <div class="links"><a :href= gitUrl target="_blank">Git Page</a> 
    
        </div>

        </div>
        </div>

    <script src="http://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script src="main.js"></script>

</body>
</html>